* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

main {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(pozadina.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-size: 1rem;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  transition: 0.3s;
  cursor: text;
}

button {
  padding: 10px 0;
  outline: 0;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}
/*https://www.w3schools.com/css/css_combinators.asp*/

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 0.75rem;
}
